body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Times New Roman, sans-serif;
  font-weight: bold;
  color: #ffffff;

  background-color: #97aca0;
  background-position: top center;
}

a {
  text-decoration: none;
}

.site-navigation,
.catalog-list,
.user-navigation,
.product-list,
.about-us-reference,
.footer-social,
.footer-link,
.breadcrumbs-list,
.fat-value,
.filler-value,
.catalog-products,
.paginator {
  list-style: none;
}

.main-header {
  display: flex;
  max-width: 1146px;
  margin: 27px;
  margin-top: 7px;
  align-items: center;
  justify-content: space-between;

}

.main-navigation a{
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

}

.main-navigation{
  width: 351px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.drop-down .drop-down-item {
  display: none;
}

.hide {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-list{
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 143px;
  align-items: center;
  justify-content: center;
}

.tit-header a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.new-products a{
  color: #323232;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

/* .catalog-menu{
  width: 87px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .catalog-menu:hover {
  width: 87px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: #323232;
  border-radius: 15px;
}

.catalog-menu:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
} */


.btn {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  border-radius: 15px;
  color: #ffffff;
}



/*.catalog-list {
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 143px;
  height: 171px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tit-header a{
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #000000;
  background-color: rgb(248, 247, 244);
  text-decoration: underline;
}
*/

.catalog-list {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color:#000000;
}

.catalog-list a {
  color:#000000;
  background-color: rgb(248, 247, 244);
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-list a:hover {
  background-color: rgb(251, 222, 215);
}

.catalog-list a:active {
  background-color: rgb(246, 181, 165);
}



/*-------------Доделать подчеркивание------------*/
.catalog-menu a,
.shipping-and-payment a,
.about-us-header a {
  text-decoration: underline;
}

/* .search-div {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  width: 33px;
  height: 33px;
  display: flex;
} */

/* .search-popup {
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 341px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .popup-search{
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 315px;
  height: 48px;

} */

/* .login {
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 277px;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/*
.login-div {
  background-color: rgb(248, 247, 244, 0.2);
  width: 93px;
  height: 32px;
  color: #ffffff;
} */

/* .popup-btn {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
  width: 100px;
  height: 44px; */

}

/* .login a{
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline; */


}

.cart {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  width: 100px;
  height: 33px;
  }

/*-------------Доделать------------*/

/*-------------Доделать попапы------------*/
/*-------------Доделать попапы------------*/
/*-------------Доделать попапы------------*/

.header-time {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.header-number {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.container {
  width: 1146px;
}

.slider-div {
  text-align: center;
}

.slider-div p{
  font-size: 60px;
  line-height: 60,35px;
}

.slider-div a{
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;

  width: 280px;
  height: 65px;
}

.stock-first {
  background-image: url("../img/raspberries_background.jpg");
  background-repeat: no-repeat;
  width: 560px;

  border-radius: 20px;
}
.stock-first h3 {
  font-size: 35px;
  line-height: 41px;
}

.stock-first p {
  font-size: 18px;
  line-height: 22px;
}

.stock-first a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  width: 165px;
  height: 46px;
}

.stock-second {
  background-image: url("../img/chocolate_background.jpg");
  background-repeat: no-repeat;
  width: 560px;
  border-radius: 20px;
}
.stock-second h3 {
  font-size: 35px;
  line-height: 41px;
}

.stock-second p {
  font-size: 18px;
  line-height: 22px;
}

.stock-second a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  width: 165px;
  height: 46px;
}

.stock-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
  margin-left: 27px;
}

.stock-first {
  width: 560px;
  min-height: 230px;
  margin-right: 26px;
  margin-top: 60px;
}

.stock-second {

  width: 560px;
  min-height: 230px;
  margin-top: 60px;
}

.product-roster img{
  border-radius: 50%;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
}

.product-weight {
  font-size: 30px;
  line-height: 45px;
}

.product-text a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-roster {
  margin-left: 26px;
  width: 267px;
  margin-bottom: 30px;
}

.product-roster:first-child {
  margin-left: 0;
}

.about-us-div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.about-us {
  background-image: url(../img/wafer_background.jpg);
  background-repeat: no-repeat;
  background-color: #e9dcbf;
  border-radius: 20px;
  height: 308px;
  margin-left: 27px;
}

.about-us h2 {
  font-size:24px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
}

.about-us ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-us li {
  font-size:16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
  width: 528px;
}


.blog-mail {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-left: 27px;
}

.blog {
 background-image: url("../img/strawberry_background.jpg");
 background-repeat: no-repeat;
 background-color: #ffffff;
 border-radius: 20px;
 width: 560px;
 margin-right: 36px;
}

.blog p {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.send-mail {
  background-image: url("../img/postal_background.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 20px;
  width: 560px;

}

.send-mail p {
  font-weight: 500;
  color: #5a5a5a;
}

.mail-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.send-mail-background {
  background-color: #ffffff;
  width: 548px;
  height: 207px;
  border-radius: 20px;
}

.adress-and-map {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.adress {
  background-color: #fffffe;
  width: 303px;
  height: 303px;
  color: #323232;
  border-radius: 15px;
}

.adress-top-text,
.phone-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.adress-location {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.phone-adress-number {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.additional-time-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.feedback-btn a{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

.main-footer {
  width: 1146px;
  margin: 0;
  padding: 0;
}

.footer-social {
  margin: 0;
  min-height: 103px;
  width: 186px;
  margin-right: 233px;
}

.footer-social a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-link {
  margin: 0;
  min-height: 103px;
  width: 308;
}

.footer-copyright {
  margin: 0;
  min-height: 103px;
  width: 308px;
  margin-left: 230px;
}

.footer-link a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.main-footer .footer-container {
  display: flex;
  justify-content: space-between;
  margin:0 27px;
}

.footer-for-provider{
  font-weight: bold;
}

.text-copyright {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.text-copyright span {
  text-decoration: underline;
}

/* .popup {
  background-color: #f8f7f4;
  color: #323232;
  border-radius: 15px;
 } */


.feedback-popup {
  width: 480px;
  height: 445px;
}

.feedback-popup h2{
  font-size: 24px;
  line-height: 28px;
}

/*-------------Каталог-----------------------------*/
/*
.site-navigation li {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
*/
/*
.cart-added {
  background-color: rgb(248, 247, 244);
  border-radius: 15px;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  width: 540px;
  height: 242px;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
.cart-preview-btn {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  width: 170px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

}

.preview-total-price {
  color: #323232;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-main {
  width: 1146px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.breadcrumbs-list a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  margin-bottom: 40px;
}

.filter-catalog-div {
  display: flex;
  flex-wrap: wrap;
  margin: 0 27px;
  width: 853px;
  justify-content: space-between;
  margin-bottom: 80px;
}

.filter-fat {
  width: 416px;
  display: flex;
  justify-content: space-between;
}

.filter-fill {
  width: 704px;
  display: flex;
  justify-content: space-between;
}

.filter-catalog h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-left: 27px;
}

legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: medium;
  color: #ffffff;
}

.filter-value {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

select {
  background-color: rgba(255, 255, 255, 0.2);
  width: 194px;
  /* height: 37px; */
  border-radius: 20px;
  color: rgba(255, 255, 255, 1);
}

.filter-value p {
  color: rgba(255, 255, 255, 1);
}
/*Доделать цвета текста*/

select:hover {
 color: #323232;
}

 .price-value{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #99aea2;
  border: none;
}

.fat-value {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.fat-value label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filler-value {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter-btn  {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 148px;
  height: 41px;
  color: #ffffff;
}

.filter-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #323232;
}


.filter-btn:active {
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
  color: #323232;
}

.catalog-products {
  width: 1146px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-products li {
  width: 267px;
  text-align: center;
}

.catalog-item img {
  border-radius: 50%;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.catalog-products h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
}

.catalog-products li:hover {
  border-radius: 5px;
  background-color: rgb(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-products a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

/* Поменять размеры кнопок*/

/*.paginator-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.disabled-paginator{
  color: rgba(255, 255, 255, 0.2);
}

.active-paginator {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 26px;
  height: 26px;
  color: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginator-link:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
}

*/

.paginator{
  display: flex;
  width: 191px;
  margin: 0;
  padding: 0;
  margin-left: 27px;
  margin-bottom: 30px;
}

.paginator-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 26px;
  height: 26px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled-paginator{
  color: rgba(255, 255, 255, 0.2);
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-paginator {
  background-color: rgb(255, 255, 255);
  color: #323232;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator-link:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

.paginator-link:active {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

